{% extends 'base.html' %}

{% block content %}

    <h1>{{ previous_url }}</h1>

    <!-- posts -->
    {% for post in posts %}
        <article class="card mb-2">
            <div class="card-body">
                <h3 class="card-title"><a href="#">{{ post.title }}</a></h3>
                <small>By <a href="#">{{ post.author }}</a> on {{ post.date_posted|date:"F d, Y" }}</small>
                <p class="card-text">{{ post.content|safe }}</p>
                <a href="#" class="btn btn-primary">Read mode</a>
            </div>
        </article>
    {% endfor %}

{% endblock %}